<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostName" value="192.168.1.2" />
    <add key="UserName" value="test" />
    <add key="Password" value="test" />
    <add key="Port" value="5432" />
    <add key="DatabaseName" value="test2" />
    <add key="DBUserName" value="pi" />
    <add key="DBPassword" value="C0de" />
  </appSettings>
</configuration>
